# Ignore everything inside plugins/
config/.config/tmux/plugins/*

config/.config/hypr/.cache/*
config/.config/hypr/hyprpaper.conf

config/.config/hypr_caelestia/scheme/current.conf

# Ignore gtk themes
config/.config/gtk-3.0/
config/.config/gtk-4.0/
