# Ignore everything inside plugins/
Config/.config/tmux/plugins/*

Config/.config/hypr/.cache/*
Config/.config/hypr/hyprpaper.conf

# [ Spicetify ]
# config/.config/spicetify/*
# !config/.config/spicetify/Themes
# !config/.config/spicetify/Themes/**
