# Ignore everything inside plugins/
config/.config/tmux/plugins/*

config/.config/hypr/.cache/*
config/.config/hypr/hyprpaper.conf

config/.config/hypr_caelestia/scheme/current.conf

# [ Spicetify ]
# config/.config/spicetify/*
# !config/.config/spicetify/Themes
# !config/.config/spicetify/Themes/**
